*, *::before, *::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

header img {
    width: 100%;
    padding: 10% 10% 0;
    margin-bottom: .5em;
}

header {
  margin: 0 1em;
  padding: 15px 0 0;
}

header ul {
  display: inline-block;
  width:100%;
  padding: 0;
  margin: 0;
  position: relative;
  list-style-type: none;
}

header li {
  text-align: center;
  float: left;
  vertical-align: text-bottom;
}

header li:nth-of-type(1), .header ul li:nth-of-type(3) {
  max-width: 20%;
  min-width: 50px;
}

header li:nth-of-type(2) {
  width: 60%;
  margin: 0;
  bottom: 0;
  position: absolute;
  left: 20%;
}

header li:nth-of-type(3) {
  padding: .5em;
  margin: 0 0 .5em;
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 20%;
  border-radius: 20px;
  background-color: lightgrey;
}

header li:nth-of-type(3):hover{
  background-color: #999;
}

h1 {
  font-size: 24px;
  margin: .5em;
}











body {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 0px 0px 0px 5px;
}

nav ol li {
  display: inline-block;
}

.top {
  text-align: center;
}

.top img {
  width: 100%;
  margin: 0 -10%;
  position: relative;
}

.top h2 {
  position: absolute;
  color: #fff;
  top: 13rem;
  width: 100%;
  text-align: center;
}

.top p {
  position: absolute;
  color: #fff;
  top: 15rem;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.top {
  margin-bottom: -5rem;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

main img {
  width: 100%;
}

.desc li {
  display: inline-block;
  width: 32%;
}

.desc dt {
  font-weight: bold;
}

.desc dd, .desc dl {
  margin: 0;
}

.buy p {
  text-align: center;
  padding: 0 5em;
  font-family: 'Lato', sans-serif;
}

.price {
  width: 100%;
  text-align: center;
}

.price div {
  background-color: #666;
  padding: 1em 1em;
  width: 40%;
  display: inline-block;
  border-radius: 0.25em;
}

.price a {
  color: #fff;
}

#buy-tickets {
  background-color: gainsboro;
}
