@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*, *::before, *::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.3;
}

header {
  text-align: center;
  margin: 0;
  background-color: darkgrey;
}

.logo {
  width: 45px;
  display: inline-block;
  margin-top: 10px;
}

.button a {
  text-decoration: none;
  border-radius: 2px;
  color: black;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  display: inline-block;
  font-family: 'Scheherazade', serif;
  max-width: 33.3%;
  font-size: 1rem;
  margin: .5em;
  line-height: 0.9em;
}

nav {
  clear: left;
  display: block;
}

nav ol {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav li {
  background: darkolivegreen;
  width: 100%;
  text-align: center;
  float: left;
  list-style-type: none;
  margin: 0;
  font-size: .8em;
  padding: 0.5em 0;
  color: #fff;
}

nav li:hover {
  background: #fff;
}

nav li a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

nav li a:hover {
  color: #fff;
}

body {
  margin: 0;
}





/*header*/

.top {
  background-image: url(../img/maerten.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 15rem 0 0 0;
  display: block;
  clear: both;
}

figure {
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.top h2 {
  bottom: 0;
  width: 80%;
  padding: 0 0 0 0.3em;
  color: white;
  line-height: 1em;
  font-size: 3em;
  font-family: 'Sansita One', cursive;
  margin-bottom: 0;
}

.top p {
  font-size: .8em;
  color: #fff;
  padding: 2em;
  margin: 0;
}

/* Seven Wonders */

.main img, .playing img {
  margin: 0;
  padding: 1em 1em 0;
  display: block;
  width: 100%;
}

.main h2 {
  color: white;
  background-color: darkolivegreen;
  margin: 0;
  padding: .5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.main h3 {
  color: white;
  background-color: darkolivegreen;
  margin: 0 16px;
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
}


.main p {
  max-width: 280px;
  text-align: center;
  border-radius: 10px;
  background-color: lightgrey;
  margin: 1em;
  font-family: 'Montserrat', sans-serif;
  padding: .5em;
  margin-bottom: 2em;
}

.main p a {
  color: black;
}

.main p:hover, .main p a:hover {
    background-color: darkolivegreen;
    color: white;
}

nav li:hover {
  background-color: black;
}

.subheader {
  padding: 0;
}


.main dl{
  padding: 0;
  margin: 10px 1em;
}

dt {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

dd {
  margin: 0;
  padding-left: 0.5em;
}

/* Buy */

.buy {
  margin: 0;
  text-align: center;
  clear: left;
  overflow: hidden;
  display: block;
}

.buy p {
  padding: 1em;
}

.buy h2 {
  text-align: center;
  clear: both;
  background-color: darkolivegreen;
  margin: 1.5em 0;
  font-family: 'Montserrat', sans-serif;
  padding: .5em;
  color: white;
}

.buy ul {
  display: block;
  margin: 0 auto 2em;
  width: 70%;
  overflow: hidden;
  padding: 0;
}

.buy li {
  float: left;
  list-style-type: none;
  background-color: grey;
  border-radius: 20px;
  width: 48%;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5em;
  margin: 0 1%;
}

.buy a {
  color: black;
}

a {
  text-decoration: none;
}

.buy li:hover {
  background-color: black;
  text-decoration-color: white;
}

.buy li a:hover {
  color: white
}

/* Playing */

.playing {
  padding: 0;
  margin: 0;
}

.playing img {
  width: 100%;
  padding: 0;
}

.playing figure {
  width: 100%;
  margin: 0;
  padding: 0;
}

.playing figcaption {
  position: absolute;
  bottom: 0;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.playing h2 {
  text-align: center;
  background-color: darkolivegreen;
  color: white;
  margin: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.playing a {
  text-transform: uppercase;
  color: white;
}

.playing a:hover {
  color: blue;
  font-weight: bold;
}

.this-week {
  padding: 0 1em;
  margin: 0;
}

.this-week dd strong {
  font-family: 'Montserrat', sans-serif;
}

.this-week dd {
  padding: 10px 0 15px 0;
}

.this-week dt {
  width: 100%;
  border-top: 1px solid blue;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  background-color: darkolivegreen;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.this-week h2 {
  clear: left;
  text-align: center;
  font-weight: bold;
  display: block;
}

/* footer */

footer {
  padding: .5em 1em;
  background-color: lightgrey;
  clear: both;
  font-family: 'Montserrat', sans-serif;
}

footer ol {
  display: list-item;
  list-style-type: none;
  padding: 0;
}

footer a:hover {
  color: white;
}

.address {
  padding: 1em 0;
  font-weight: bold;
  color: blue;
}

@media only screen and (min-width: 28em) {

  nav li {
  background: darkolivegreen;
  width: 25%;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  font-size: .8em;
  padding: 0.5em 0;
  padding-left: 0.5em;
  color: #fff;
}

h1 {
  display: inline-block;
  font-family: 'Scheherazade', serif;
  max-width: 50%;
  font-size: 1.2rem;
  margin: .5em;
  vertical-align: middle;
  line-height: 0.9em;
}

h3 {
  text-align: center;
}

dl {
  text-align: center;
}

dl dd {
  padding: 0;
}

dl div {
  width: 30%;
  display: inline-block;
}

.main p {
  margin: auto;
}

}

@media only screen and (min-width: 40em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .left {
    width: 48%;
    float: left;
    clear: left;
  }

  .right {
    width: 48%;
    float: right;
    clear: right;
  }

}

@media only screen and (min-width: 50em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    float: left;
    width: 100%;
  }

  nav li {
  background: darkolivegreen;
  width: 100%;
  text-align: center;
  clear: left;
  list-style-type: none;
  margin: 0;
  font-size: .8em;
  padding: 0.5em 0;
  color: #fff;
  }

  .banner {
    width: 30%;
    float: left;
    position: fixed;
  }

  .everything {
    width: 70%;
    float: right;
  }

}

@media only screen and (min-width: 70em) {

  .wrapper {
    max-width: 40em;
    margin: 0 auto;
  }
}

@media print {
  header {
    display: none;

  }
  nav {
    display: none;
  }
}
