*, *::before, *::after{
  box-sizing: inherit;
}

html {
  color: black;
  margin: 0em;
}

header {
  text-align: center;
}

header img {
  display: inline-block;
  margin-right: 1em;
  width: 50px;
}

header h1 {
  display: inline-block;
  margin: 0px;
  position: relative;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 0px 0px 0px 5px;
}

nav ol li {
  display: inline-block;
}

.top {
  text-align: center;
}

.top img {
  width: 100%;
  margin: 0 -10%;
  position: relative;
}

.top h2 {
  position: absolute;
  color: #fff;
  top: 13rem;
  width: 100%;
  text-align: center;
}

.top p {
  position: absolute;
  color: #fff;
  top: 15rem;
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.top {
  margin-bottom: -5rem;
}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

main img {
  width: 100%;
}

.desc li {
  display: inline-block;
  width: 32%;
}

.desc dt {
  font-weight: bold;
}

.desc dd, .desc dl {
  margin: 0;
}

.buy p {
  text-align: center;
  padding: 0 5em;
  font-family: 'Lato', sans-serif;
}

.price {
  width: 100%;
  text-align: center;
}

.price div {
  background-color: #666;
  padding: 1em 1em;
  width: 40%;
  display: inline-block;
  border-radius: 0.25em;
}

.price a {
  color: #fff;
}

#buy-tickets {
  background-color: gainsboro;
}
